{% extends 'base.html' %}
{% load static %}

{% block head %}
	<title>{{ artist.name }} | MuN</title>
	<link rel="stylesheet" type="text/css" href="{% static 'releases/style.css' %}">
{% endblock %}

{% block content %}
	<h1 class="page-title">{{ artist.name }}'s releases</h1>
	<main class="releases">
		{% for release in releases %}
			<article class="release">
				<span class="release-date">{{ release.date }}</span>
				<img src="{{ release.cover_url }}" alt="{{ release.title }} cover" class="release-cover">
				<span class="release-title">
					{{ release.artist.name }} - {{ release.title }}
				</span>
			</article>
		{% endfor %}
	</main>
{% endblock %}
