{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Latest releases | MuN</title>
    <link rel="stylesheet" type="text/css" href="{% static 'releases/style.css' %}">
{% endblock %}

{% block content %}
    <h1 class="page-title">Latest releases</h1>
    <main class="releases">
        {% if releases|length > 0 %}
            {% for release in releases %}
                <article class="release">
                    <span class="release-date">{{ release.date }}</span>
                    <img src="{{ release.cover_url }}" alt="{{ release.title }} cover" class="release-cover">
                    <span class="release-title">
                        <a href="/artists/{{ release.artist.name | lower }}" class="release-artist-link">{{ release.artist.name }}</a> - {{ release.title }}
                    </span>
                    <a href="{{ release.integration_url }}" target="_blank" class="integration-url">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </article>
            {% endfor %}
        {% else %}
            New releases will be here soon...
        {% endif %}
    </main>
{% endblock %}
