files:
  "/etc/cron.d/mycron":
    mode: "000644"
    owner: root
    group: root
    content: |
        55 * * * * root /usr/local/bin/fetch_latest_releases.sh

  "/usr/local/bin/fetch_latest_releases.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      date > /tmp/date

      # Your actual script content
      source /opt/python/current/env
      python /opt/python/current/app/manage.py fetch_latest_releases

      exit 0


commands:
  remove_old_cron:
    command: "rm -f /etc/cron.d/*.bak"
