body {
  color: #ddd;
  background: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0;
  margin: 0;
}

section {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
}

li {
  font-size: 1.2rem;
}

.header {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  position: absolute;

  background: rgba(0,0,0,0.5);
}

.header-link {
  margin: 1rem;
  border-bottom: 3px solid #c55e00;
  font-size: 1.2rem;
  color: #222;
  text-decoration: none;
  color: #ddd;
}

.header-text {
  margin: 1rem;
  font-size: 1.2rem;
  color: #ddd;
}

.brand {
  margin: 0;
  color: #c55e00;
}

.brand-text {
  color: #c55e00;
}

.landing-section {
  min-height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landing-section-content {
  padding: 2rem 0;
  background: rgba(0,0,0,0.5);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ddd;
}

.landing-main {
  background: white url("images/landos.jpeg") no-repeat center center fixed;
  background-size: cover;
  color: #222;
}

.landing-main-text {
  padding: 1rem;
}

.langing-features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.landing-feature {
  margin: 2rem;
  min-width: 300px;
}
