{% load static %}
<title>MuN: Music Notifications</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">

<header class="header">
  <a href="/login" class="header-link">Login</a>
  <a href="/signup" class="header-link">Sign up</a>
</header>
<section class="landing-section landing-main">
  <h1 class="brand">MuN</h1>
  <h2>
    <span class="brand-text">Mu</span>sic
    <span class="brand-text">N</span>otifications
  </h2>
  <p>
    Got tired of missing out on releases from your favourite artists?
    <br>
    You have found a perfect solution...
  </p>
</section>
<section class="landing-section landing-music-services">
  <h2>Connect your favourite <span class="brand-text">mu</span>sic services</h2>
  <ul>
    <li>Spotify</li>
    <li>Deezer</li>
  </ul>
</section>
<section class="landing-section landing-notifications">
  <h2>Get <span class="brand-text">n</span>otifications wherever you want them</h2>
  <ul>
    <li>Email</li>
    <li>Telegram</li>
  </ul>
</section>
